.BuscandoDadosExternos-container {
    min-height: 100vh;
}

.BuscandoDadosExternos {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
}

.button-container{
    min-height: 70px;
    display: flex;
    align-items: flex-end;
}
